body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #296EB4;
  border-left: 1px solid ;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #296EB4;
  color: white;
}

.present {
  background-color: #F7E1D7;
  color: white;
}

.future {
  background-color:darkred;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #D56AA0;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}


.title{
  background-color: #b1740f
}

.place {
   background-color: #D56AA0; 
  }
.place.yellow { 
  background-color: #b1740f; }



/* pallete
b1740f tigers eye
296EB4  azul
D56AA0 thulian pink
FFFFFF white
F7E1D7 champagne pink 
*/
